
.list-group-item{
    background-color:black;
    left: 30px;
}

.list-group-item:hover{
    background: none;
}

.carousel{
    background-color: #007bff;
    border-top: blue 4px solid;
    margin: 0 auto;
    padding: 0 0 10px 0 ;
    position: relative;
    top: 16vh;
  }
  
/*without this carouselContainer the image height will affect relative elements*/
  .carouselContainer{
    max-width: 100%;
}
.carousel-item{
    width: 110%;
    margin: 0 auto;
    left: -5%;
    height: 66vh;  
}

.display2{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
}

.content{
    height: 99vh; 
    margin: 14vh auto; 
    position: relative;
}
.title2{
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.title3{
    font-size: 12vh;
}
.background{
    position: absolute;
    z-index: 0;
    left: 0px;
    width: 100%;
}

.foreground{
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 100%;
    color: aliceblue;
    font-size: 40px;
    font-weight: 900;
    background-color: black;
}

#list-example{
    position: absolute;
    top:14vh;
}

.navGallery{
    overflow-y: scroll;
    max-height: 99%;
    color: lightblue;
    position: absolute;
    display: block;
    right: -30px;
    bottom: -30px;}

.navGallery h4{
    margin: 30px auto;
}

.black{
    color: black;
}

.max100{
    max-height: 100vh;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
    top: 14vh;
    padding-top: 6vh;
}
/*this is the container for the left and right carousel indicators*/
.casket{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
}

.huge{
    font-size: 8vh;
    padding: 0px 10px 15px 10px;
    color: #000;
    line-height: 10vh;
    border: 4px #007bff solid;
}

.huge img{
    width: 80%;
    left: 10%;
}

.huge:hover{
    background-color: #007bff;
}

.carouselText{
    position: absolute;
    z-index: 7;
    top: 20vh;
}

.navbar{
    position: fixed;
    height: 16vh;
}

#first{
    border: solid blue 2px;
}


@keyframes rotate {
    0%   {-webkit-transform: rotate(0deg);}
    100%   {-webkit-transform: rotate(2160deg);}
}
  .rotation2{
      color: black;
  }
  /* The element to apply the animation to */
  .rotation2:hover {
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-play-state: running;
    z-index: 2;
}


.zoom {
    transition: transform .2s; /* Animation */
    overflow: hidden;
    max-width: 100% ;
  }
  
  .zoom:hover {
    transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    opacity: .7;
    }
  
  .downloadResume{
      font: fantasy;
    color: red;
    background-color: white;
    font-size: 4vh;
    font-weight: bold;
    position: absolute;
    z-index: 4;
    bottom: 10vh;
    left: 0;
  }
  .downloadResume:hover{
    color: blue;
  }

  
@media screen and (max-width: 768px) {
    .scrollSmall{
        position: fixed;
        z-index: 4;
        max-height: 20%;
        max-width: 50%;
        background: none;
    }
    .list-group-item{
        background: none;
    }
    .rotation2{
        display: none;
    }

}


@media screen and (max-width: 576px) {
    /* .scrollXSmall{
        max-width: 50%;
        left: 50%;
    } */
    nav.top{
        position: absolute;
        max-width: 25%;
        left: 70%;
    }
    .title{
        font-size: 8vh;
    }

    .scrollXSmall{
        max-width: 50%;
        left: 50%;
    }

    .displayHeaderSmall{
        position: fixed;
        bottom: 20%; 
    }

    #first{
        display: none;
    }

    .casket{
max-width:  90%;
left: 5%;
z-index: 4;
    }

}
