
.list-group-item{
    background-color: white;
}

.list-group-item:hover{
    background-color: #222222;
}

.carousel{
    background-color:white;
  }
  

.carousel-item{
    max-height: 50%;
    overflow: hidden;
}

.display{
    height: 10%;
    margin: 20% auto;
} 

.display2{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
}


.content{
    height: 99vh; 
    margin: 14vh auto; 
    position: relative;
}

.blinking{
    animation:blinkingText 1.8s infinite;
}

@keyframes blinkingText{
    0%{     color: #fff;    }
    60%{    color: transparent; }
    80%{    color:transparent;  }
    100%{   color: #fff;    }
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 5em;
    padding: 40px;
}

.title2{
    font-size: 9em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a{
    color: lightblue;
}

a:hover{
    color: aquamarine;
}

.navbar{
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    z-index: 4;
    padding: 10px;
    background-color: white;
    min-width: 100%;
    border-bottom: solid white 3px;
    height: 14vh;
}

 body{
    background-color: blue;
}


.background{
    position: absolute;
    z-index: 0;
    left: 0px;
    width: 100%;
}


.foreground{
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 100%;
    color: aliceblue;
    font-size: 40px;
    font-weight: 900;
    background-color: black;
}

#list-example{
    min-height: 99%
}

.navGallery{
    overflow: scroll;
    max-height: 99%;
    color: lightblue;
    position: absolute;
}

.navGallery h4{
    margin: 30px auto;
}

.container2{
    position: relative;
    display: inline;
    margin: 0 auto;
    top: 14vh;
    max-height: 50vh;

}

.black{
    color: black;
}

