a{
    color: lightblue;
}

a:hover{
    color: aquamarine;
}

.title{
    font-family: 'Lobster', cursive;

}
.navbar{
    position: fixed;
    z-index: 7;
    background: black;
    min-width: 100%;
    border-bottom: solid white 3px;
    min-height: 14vh;
    margin: 0 auto;
}

 body{
    background-color: black;
}

#height100{
    position: relative;
    top: 16vh;
    margin: 0 auto;
    padding: 0 auto;
    border-bottom: solid white 5px;
    overflow: hidden;    
    min-height: 95vh;
    background-color: black;
}    

.footer{
    
    background-color: black;
    display: block;
    position: relative;
    bottom: 0px;
    text-align: center;
    padding: 20px 0px 5px 0px;
    width: 100%;
    border-top: solid blue 5px;
    color: white;
    min-height: 10vh;
    z-index: 3;
    margin: 10vh 0 0 0;
}

.container{
    min-width: 80%;
    
}

.six{
    min-width: 600%;
}

.scroll{
    max-width: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    position: absolute;
    padding-bottom: 65vh;
}

.carousel-control-prev{
    background-color: black;
    opacity: 1;
    max-width: 5vw;
}
.carousel-control-next{
    background-color: black;
    opacity: 1;
    max-width: 5vw;

}


#time{
    position: relative;
    display: inline-block;
    bottom: 30vh;
    color: white;
    font-size: 12vh;
    top: 50vh;
}
#seconds{
    position: relative;
    display: inline-block;
    bottom: 30vh;
    color: white;
    font-size: 12vh;
    top: 50vh;
    
}


#clock{
    z-index: 3;
    position: absolute;
}


#hidden2{
    display: none;
    background-color: none;
    position: absolute;
    z-index : 3;
    }

#hidden2 object{
min-width: 99vw;
min-height: 86vh;
display: block;
}

#dayNight{
    position: relative;
    display: inline-block;
    bottom: 30vh;
    color: white;
    font-size: 12vh;
}

#today{
    position: absolute;
    top: 30vh;
    color: white;
    font-size: 6vh;
}
 #dayR{
    display: block;
    position: relative;
    margin-top: 14vh;
 }

 @media screen and (min-width: 0px) {
    .smallDown{
        position: relative;
        margin-bottom: -14vh;
    }

    #dayR{
        display: none;
        position: relative;
        margin: 0 auto;
     }

  }

@media screen and (min-width: 768px) {
    .smallDown{
        position: relative;
        margin-bottom: -14vh;
    }

    #dayR{
        display: block;
        position: relative;
        margin-top: 20vh;
    
     }

  }
 
  #links{
    display: inline;
}
  @media screen and (max-width: 768px) {
    #links{
       display: none;

    }
}
    