a{
    color: lightblue;
}

a:hover{
    color: aquamarine;
}

.navbar{
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    z-index: 4;
    padding: 10px;
    background-color: blue;
    min-width: 100%;
    border-bottom: solid white 3px;
    height: 14vh;
}

 body{
    background-color: blue;
}


.background{
    position: absolute;
    z-index: 0;
    left: 0px;
    width: 100%;
}


.foreground{
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 100%;
    color: aliceblue;
    font-size: 40px;
    font-weight: 900;
    background-color: black;
}

.height100{
    position: relative;
    top: 14vh;
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
    border-bottom: solid white 5px;
    overflow: hidden;
}


.footer{
    background-color: black;
    display: inline-block;
    position: relative;
    bottom: 0px;
    text-align: center;
    padding: 20px 0px 5px 0px;
    width: 100%;
    border-top: solid blue 5px;
    color: white;
    min-height: 10vh;
    z-index: 3;
    margin: 10vh 0 0 0;
}

.height100{
    min-height: 95vh;
    
    background-color: blue;
}

.container{
    min-width: 80%;
}
.container2{
    min-width: 100%;
}

.six{
    min-width: 600%;
}

.scroll{
    max-width: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    position: absolute;
    padding-bottom: 65vh;
}

.arrow{
min-width: 20%;
position: absolute;
right: 0px;
color: white;
height: 80%;
top: 110vh;
border-left: dashed white 5px;
}


.huge{
    font-size: 20vh;
}

#time{
    position: relative;
    display: inline-block;
    bottom: 30vh;
    color: white;
    font-size: 12vh;
    top: 50vh;
}
#seconds{
    position: relative;
    display: inline-block;
    bottom: 30vh;
    color: white;
    font-size: 12vh;
    top: 50vh;
    
}

#dayNight{
    position: relative;
    display: inline-block;
    bottom: 30vh;
    color: white;
    font-size: 12vh;
    top: 50vh;
    
}

#today{
    position: absolute;
    top: 30vh;
    color: white;
    font-size: 6vh;
}


#dayL{
    height: 99%;
    z-index: 0;
    overflow: hidden;
    margin: 0 auto;
    max-width: 50vw;
    left: 0px;
    position: absolute;
}

#dayLGrad{
    height: 99%;
    z-index: 2;
    overflow: hidden;
    margin: 0 auto;
    min-width: 50vw;
    left: 0px;
    position: absolute;
    background: linear-gradient(to right, transparent, blue);
}


#dayL img{
    left: 0px;
    max-width: 50vw;
    z-index: 1;
}

#dayM{
    height: 50vh;
    max-width: 50%;
    overflow: hidden;
    float: right;
    right: 60vw;
    position: absolute;
    overflow: visible;
}

#dayM img{

    width: 50vw;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
}


#dayR{
    min-height: 99vh;
    max-width: 50%;
    overflow: hidden;
    float: right;
    right: 0px;
    position: absolute;
    top: 0px;
    background-color: none;
    z-index: 3;
    word-wrap: break-word;

}

#dayR a{
    color: white;
    font-size: 3rem;
    display: block;
    text-align: right;
    margin: 0 20px auto auto;
}

#clock{
    z-index: 3;
    position: absolute;
}

@keyframes rotate {
    0%   {-webkit-transform: rotate(0deg);}
    100%   {-webkit-transform: rotate(6deg);}
}
  
  /* The element to apply the animation to */
  .rotation {
    animation-name: rotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    z-index: 2;
}

    #hidden{
    display: none;
    background-color: black;
    }



    #hidden2{
    display: none;
    background-color: none;
    position: absolute;
    z-index : 3;
    }

    #hidden2 object{
    min-width: 99vw;
    min-height: 86vh;
    padding: 30px;
    }



    #hidden3{
    display: none;
    position: absolute;
    background-color: none;
    z-index : 3;
    }

    #hidden3 object{
    min-width: 99vw;
    min-height: 86vh;
    padding: 30px;
    }
    

    #hidden4{
    display: none;
    position: absolute;
    background-color: none;
    z-index : 3;
    }

    #hidden4 object{
    min-width: 99vw;
    min-height: 86vh;
    padding: 30px;
    }
    
#changeD{
    font-family: 'Courier New', Courier, monospace;
  }
